


body{
	height:100%;
	width:100%
	margin:0;
	text-align:center;
	color:#9aa51a;
}
h1{
	color:#FF3361;
}
.kind{
	color:red;
}
.button{
	height: :60px;
	width: 100px;
	border-radius: 5px;
	background-color: #f442dc;
	text-align: center;
	color:#FFFFFF;
	font-family:Verdana,Arial,Sans-Serif; 
	opacity:0.8;
}
div{
	height:100px;
	width: 100px;
	display:inline-block;
	border-radius: 5px;
}